.main {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(109, 30, 30);
    background-color: cadetblue;
}

@media screen and (max-width: 276px) {
    .box {
        background-color: blue;
    }
}